
<h1>Welcome to my Weather website</h1>

<h3>Location: {{ location }}</h3>
<h3>Country: {{ country }}</h3>
<h3>Weather: {{ desc }}</h3>

<h3> {{iconimg}} </h3>
{{!-- <img src="http://openweathermap.org/img/w/" + {{iconcode}} + ".png"> --}}

<h3>Temperature: {{ temp }} C</h3>
<h3>Feels like: {{ feels }} C</h3>

<h3>Sunrise: {{ humanrise }} </h3>
<h3>Sunset: {{ humanset }} </h3>







